# Entorno virtual
venv/

# Variables privadas
.env

# Archivos temporales Python
__pycache__/
*.pyc

# Configuración del editor
.vscode/

# Archivos del sistema
.DS_Store

# Bases de datos locales
*.sql
*.sqlite
*.sqlite3